<footer>
    <p>UNCC Gaming Club - Building Community Through Gaming</p>
    <p>Designed by Cai Li | ITIS 3135 Web Development | ©2025</p>
    <p>
        <a href="#" id="validation_link_html">HTML Validation</a> | 
        <a href="#" id="validation_link_css">CSS Validation</a> | 
        <a href="#" id="validation_link_wcag">WCAG Validation</a>
    </p>
    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
        document.getElementById("validation_link_wcag").setAttribute("href", "https://wave.webaim.org/report#/" + location.href);
    </script>
</footer>