<header>
    <h1>ITIS3135 | Cai Li's | Learning Crab</h1>
    <p>Learning Crab Web Development</p>
   
    <nav>
        <a href="index.html">Home</a>
        <a href="introduction.html">Introduction</a>
        <a href="contract.html">Contract</a>
        <a href="website_evaluations.html">Website Evaluations</a>
        <a href="fccfsjs_outline.html">FCC JavaScript Outline</a>
        <a href="learning-crab/index.html">Learning Crab</a>
        <a href="project/index.html">Gaming Club</a>
        <a href="review1.html">Peer Review 1</a>
        <a href="review2.html">Peer Review 2</a>
    </nav>
    <nav style="background-color: lightblue; padding: 8px;">
        <strong>Special Projects:</strong>
        <a href="stuff/Crappy Page&Stuff.htm">Crappy Page</a>
        <a href="https://lccccccccccccccccccccccc.github.io/itis3135-react/">React3</a>
    </nav>
</header>